#game-container {
  text-align: center;
  margin-top: 50px;
}

#player-names {
  margin-bottom: 20px;
}

#name-inputs {
  margin-top: 10px;
}

#dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dice {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 24px;
}

#player-scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#game-messages {
  font-weight: bold;
  font-size: 20px;
}

#roll-button {
  display: none;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
}
